 
h1{
    color: aliceblue;
    background-color: black;
    padding: 20px 40px 30px 20px ; 

    margin: 20px 20px;
    border: 5px green solid;
    border-radius: 50px;
}
h2{
    color: blueviolet;
    background-color: gray;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 35px;
    padding-bottom: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 10px;
    border: 10px blueviolet dashed;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 70px;
    border-top-left-radius: 90px;
    border-top-right-radius:20px ;
}
h3{
    color: blue;
    background-color: beige;
    padding: 120px 20px;
    width: 200px;
    margin:20px 49px ;
    border: 5px blue double;
    border-top:50px ;
    border-bottom: 90px;
}
h4{
    color: aliceblue;
    background-color: black;
    padding: 20px;
    margin: 20px;
    border:5px red solid ;
    width: 200px;
    text-align: center;
    
}
h5{

}